{% extends "bulletin/base.html" %}
{% load static %}
{% block title %}Campus Connect{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="text-center mb-5">
        <h1>College News</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/presentation.jpg' %}" class="card-img-top" alt="Presentation">
                <div class="card-body">
                    <h5 class="card-title">Presentation</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/cultural.png' %}" class="card-img-top" alt="Cultural Event">
                <div class="card-body">
                    <h5 class="card-title">Cultural Event</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/Placement.jpg' %}" class="card-img-top" alt="Placement">
                <div class="card-body">
                    <h5 class="card-title">Placement</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/sportss.jpeg' %}" class="card-img-top" alt="Sports Event">
                <div class="card-body">
                    <h5 class="card-title">Sports Event</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/habba.jpeg' %}" class="card-img-top" alt="Habba Event">
                <div class="card-body">
                    <h5 class="card-title">Habba Event</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'bulletin/images/steigen.jpeg' %}" class="card-img-top" alt="Technical Event">
                <div class="card-body">
                    <h5 class="card-title">Technical Event</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
                    <a href="#" class="btn btn-dark">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}